<div class="container">
<div class="form m-5">
<h1>
  <%= @list.name %>
</h1>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, prompt: 'Select a movie'%>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
