<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="https://m.media-amazon.com/images/I/51EUEG-cF+L._AC_SL1500_.jpg" />
</a>

  </div>
</div>
