<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="https://i.pinimg.com/originals/79/f2/76/79f27607c441a33db2a10f3ea8888f5b.jpg" />
    </a>

  </div>
</div>
